


<div class="bigdiv">
    <div class="bigsign_div">
        <div class="medium">Sign Up</div>
        <div class="signup_div">
            <form action="/api/users" method="POST">
                <input required type="text" placeholder="John Doe"><br>
                <input required type="text" placeholder="john_doe"><br>
                <input required type="email" placeholder="johndoe@gmail.com"><br>
                <input required type="password" placeholder="********">
                <button class="sign-button">Sign Up</button>
            </form>
        </div>
    </div>
    <div class="biglog_div">
    <div class="medium2"> Log in</div>
       <div class="login_div">  
           <form action="/login" method="POST">
                <input required type="email" placeholder="johndoe@gmail.com"><br>
                <input required type="password" placeholder="***********"><br><br><br>
                <button>Log in</button>
           </form>
       </div>
       </div> 
</div>




