<!-- include header
<%-include('include/_header') %> -->

<!-- /include header -->
<!-- 
<div class="bigdiv">
    <div class="bigsign_div">
        <div class="medium">Sign in</div>
        <div class="signup_div">
            <input type="Name" placeholder="Name"><br>
            <input type="Username" placeholder="Username"><br>
            <input type="Email" placeholder="Email"><br>
            <input type="Password" placeholder="Password">
            <button class="sign-button">Sign in</button>
        </div>
    </div>
    <div class="biglog_div">
    <div class="medium2"> Log in</div>
       <div class="login_div">
           <input type="Name" placeholder="Name"><br>
           <input type="password" placeholder="Password"><br><br><br>
           <a href="">forgot password</a>
           <button>Log in</button>
       </div>
       </div> 
</div> -->
<!-- include footer -->
<!-- <%-include('include/_footer') %> -->

<!-- /include footer -->